@font-face {
  font-family: 'Northwell';
  src: url('../fonts/Northwell.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Northwell.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Northwell.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Northwell.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Northwell.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'DenverRegular';
  src: url('../fonts/DenverRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DenverRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DenverRegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/DenverRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DenverRegular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'DenverBold';
  src: url('../fonts/DenverBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DenverBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DenverBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/DenverBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DenverBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'WorkSans';
  src: url('../fonts/WorkSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/WorkSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/WorkSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/WorkSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/WorkSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}