html, body {
	height: 100%;
	position: relative;
	color: #171717;
}
header {
	width: 100%;
	position: absolute;
	padding: 20px 0;
	z-index: 999;
}
header .logo {
	height: 60px;
}
header .menu {
	height: 60px;
	color: #fff;
}
header .menu .burger {
	position: relative;	
	height: 100%;
}
header .menu .burger p {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.navi {
	position: fixed;
	background-color: #181818;
	padding: 35px 95px 35px 35px;
	z-index: 9999;
	top: 0;
	right: -470px;
	width: 470px;
	height: 100%;
	font-family: 'DenverRegular', sans-serif;
	transition: all 0.5s ease;
}
.navi ul {
	list-style-type: none;
	text-align: center;
}
.navi ul > li {
	margin: 30px 0;
}
.navi ul > li > a {
	color: #fff;
	font-size: 20px;
	transition: all 0.5s ease;
}
.navi ul > li > a:hover {
	color: #afafaf;
	text-decoration: none;
}
.navi ul > li.current_page_item > a {
	color: #afafaf;
}
footer {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: #0c0c0c;
	color: #fff;
}
footer h4 {
	font-family: 'DenverRegular', sans-serif;
	margin-bottom: 35px;
	color: #fff;
}
footer p {
	font-family: 'WorkSans', sans-serif;
}
footer #sbi_images {
	margin-left: -10px;
}
footer .footer-about {
	margin-bottom: 50px;
}
.home .banner {
	min-height: 100%;
	position: relative;
	margin-bottom: 50px;
	background-image: url('../images/home_banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.home .banner .title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}
.home .banner .title p {
	margin-bottom: 5px;
	font-family: 'DenverRegular', Arial, sans-serif;
	font-size: 13px;
	letter-spacing: 3px;
}
.home .banner .title h1 {
	margin: 0;
	font-family: 'Northwell', Arial, sans-serif;
	font-size: 72px;
	line-height: 120px;
}
.home .banner .down {
	position: absolute;
	border: 1px solid #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	bottom: 65px;
	left: 50%;
	transform: translateX(-50%);
}
.home .banner .down a {
	color: #fff;
}
.home .banner .down span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.home .fifthhouse-icon {
	width: 100%;
	height: 69px;
	background-image: url('../images/fifthhouse_icon.png');
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 50px;
}
.home .home-content {
	margin-top: 60px;
	margin-bottom: 60px;
}
.home .home-content:not(:last-of-type) {
	margin-top: 0;
}
.home .home-content h2 {
	font-family: 'DenverBold', Arial, sans-serif;
	font-size: 28px;
	color: #171717;
	margin-bottom: 38px;
}
.home .home-content p {
	font-family: 'WorkSans', Arial, sans-serif;
	font-size: 15px;
	color: #5f5f5f;
	letter-spacing: .5px;
	line-height: 28px;
}
.masonry-grid {
	margin-bottom: 30px;
	border: 1px solid #ccc;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
}
.masonry-grid-1, .masonry-grid-2, .masonry-grid-5, .masonry-grid-6, .masonry-grid-7, .masonry-grid-9 {
	height: 250px;
}
.masonry-grid-3, .masonry-grid-4, .masonry-grid-8 {
	height: 530px;
}
.masonry-grid img {
	height: 100%;
}
.masonry-grid:hover .project-overlay {
	opacity: 1;
}
.project-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0;
	transition: all 0.5s ease;
	top: 0;
	left: 0;
}
.project-overlay-text {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.project-overlay .project-name, .project-overlay .project-name a {
	font-weight: bold;
	font-size: 16px;
	color: #171717;
}
.project-overlay .project-name a:hover {
	text-decoration: none;
}
.project-overlay .project-category {
	text-transform: uppercase;
	font-size: 12px;
	color: #171717;
}
.home .testimonials {
	background-image: url('../images/terrain_bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 500px;
	font-family: 'Georgia', serif;
	font-size: 20px;
}
.home .testimonials div {
	height: 100%;
}
.home #testimonial-carousel .carousel-indicators {
	bottom: 60px;
}
.home #testimonial-carousel .carousel-indicators li {
	border: none;
	border-radius: 50%;
	background-color: #5b5b5b;
	width: 6px;
	height: 6px;
	vertical-align: middle;
}
.home #testimonial-carousel .carousel-indicators .active {
	background-color: #fff;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}
.home #testimonial-carousel .carousel-caption {
	height: 50%;
	top: 50%;
	transform: translateY(-50%);
}
.home #testimonial-carousel .testi-name {
	font-family: 'WorkSans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 40px;
}
.home .contact {
	background-color: #f6f6f6;
	padding: 110px 0;
}
.home .contact h2, .page-template-page-contact .contact h2 {
	font-family: 'DenverBold', sans-serif;
	margin-top: 0;
	margin-bottom: 45px;
}
.home .contact p, .page-template-page-contact .contact p {
	font-family: 'WorkSans', sans-serif;
	color: #5f5f5f;
	margin-bottom: 25px;
}
.home .contact .contact-desc, .page-template-page-contact .contact .contact-desc {
	margin-bottom: 35px;
}
.home .contact form .row, .page-template-page-contact .contact form .row {
	margin-bottom: 30px;
}
.home .contact input, .page-template-page-contact .contact input {
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	border-radius: 0;
	font-family: 'WorkSans', sans-serif;
}
.home .contact textarea, .page-template-page-contact .contact textarea {
	padding: 20px;
	border: none;
	border-radius: 0;
	font-family: 'WorkSans', sans-serif;
	resize: none;
}
.home .contact input[type="submit"], .page-template-page-contact .contact input[type="submit"] {
	text-transform: uppercase;
	color: #fff;
	background-color: #252525;
}
.page-template-page-about .about-content, .page-template-page-services .services-content, .category .services-content, .single-projects .services-content, .page-template-page-works .services-content, .page-template-page-contact .contact {
	padding-top: 100px;
	font-family: 'WorkSans', sans-serif;
	color: #5f5f5f;
}
.page-template-page-about .content {
	background-color: #f6f6f6;
	padding-top: 65px;
}
.page-template-page-about .about-content .container:last-of-type {
	padding-bottom: 90px;
}
.page-template-page-about .about-content h1 {
	font-family: 'DenverBold', sans-serif;
	margin-bottom: 40px;
	color: #171717;
}
.page-template-page-about .about-content p {
	line-height: 24px;
}
.page-template-page-about .about-content img {
	width: 100%;
	margin: 50px 0;
}
.page-template-page-services .content, .category .content, .single-projects .content, .page-template-page-works .content, .page-template-page-contact .content {
	background-color: #f6f6f6;
	text-align: center;
	padding-bottom: 130px;
}
.page-template-page-services .services-content h1, .category .services-content h1, .single-projects .services-content h1, .page-template-page-works .services-content h1, .page-template-page-contact .contact h1 {
	font-family: 'DenverBold', sans-serif;
	color: #171717;
	margin: 45px 0;
}
.page-template-page-services .content .service-img-wrap {
	margin-bottom: 30px;
}
.page-template-page-services .content .service-img {
	height: 390px;
	position: relative;
}
.page-template-page-services .content .service-img:hover .project-overlay {
	opacity: 1;
}
.page-template-page-services .content img {
	width: 100%;
	height: 100%;
}
.category .services-content .service-gallery {
	text-align: left;
}
.category .services-content .service-gallery h1 {
	margin-bottom: 30px;
}
.category .services-content .service-gallery p, .single-projects .services-content .project-info p {
	margin-bottom: 60px;
}
.category .subcat, .work {
	margin-bottom: 30px;
}
.category .subcat-info, .work-info, .single-projects .gallery {
	overflow: hidden;
}
.category .subcat-info img, .single-projects .gallery img {
	height: 240px;
}
.category .subcat-info .cat-desc, .work .work-desc {
	height: 185px;
	background-color: #fff;
	padding: 30px;
	text-align: left;
}
.category .subcat-info .cat-desc a:hover, .work-info .work-desc a:hover {
	text-decoration: none;
}
.category .subcat-info .cat-desc h4, .work-info .work-desc h4 {
	font-family: 'DenverRegular', sans-serif;
	margin: 0 0 25px;
	color: #171717;
}
.work-info .work-img {
	height: 240px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}
.work .work-desc p {
	font-size: 12px;
}

@media only screen and (max-width: 414px){
	.home .banner .title {
		width: 95%;
	}
	.home .banner .title h1 {
		margin-top: 30px;
		line-height: 80px;
	}
	.home .banner .down {
		bottom: 35px;
	}
	.home #testimonial-carousel .carousel-caption {
		height: 70%;
		font-size: 18px;
	}
	.home #testimonial-carousel .carousel-indicators {
		bottom: 20px;
	}
	footer #sbi_images {
		margin-left: 0;
	}
	.navi {
		width: 100%;
		padding: 35px;
	}
	.navi ul {
		padding: 0;
	}
	.page-template-page-services .content .service-img-wrap {
		margin-bottom: 0;
	}
	.page-template-page-services .content .service-img {
		height: inherit;
		margin-bottom: 15px;
	}
	.category .subcat-info .row:first-of-type > div {
		display: flex;
		justify-content: center;
	}
	h2.contact-info-title {
		display: none;
	}
	.g-recaptcha {
		transform: scale(0.96);
		-webkit-transform: scale(0.96);
		transform-origin: 0 0;
		-webkit-transform-origin:0 0;
	}
	.home .contact input[type="submit"], .page-template-page-contact .contact input[type="submit"] {
		width: 100%;
		margin-top: 30px;
	}
}